{% extends "base_generic.html" %}

{% block content %}

    <h1>Lista de Autores</h1>

    {% if perms.catalogo.pode_manipular_autor %}
        <a href="{% url 'autor-create' %}"> Novo autor</a>      
    {% endif %}

    {% if autor_list %}
        <ul>
            {% for autor in autor_list %}
                <li>
                    <a href="{{ autor.get_absolute_url }}">{{ autor.ultimo_nome }}, {{ autor.primeiro_nome }}</a>
                    {% if perms.catalogo.pode_manipular_autor %}
                        <a href="{% url 'autor-update' autor.id%}"> - Atualizar</a>
                        <a href="{% url 'autor-delete' autor.id%}"> - Excluir</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>Não existem autores cadastrados.</p>
    {% endif %} 

{% endblock %}