{% extends "base_generic.html" %}

{% block content %}
    <h1>Título: {{ livro.titulo }}</h1>

    <p><strong>Autor:</strong> <a href="">{{ livro.autor }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>Resumo:</strong> {{ livro.resumo }}</p>
    <p><strong>ISBN:</strong> {{ livro.isbn }}</p>
    <p><strong>Linguagem:</strong> {{ livro.linguagem }}</p>
    <p><strong>Gênero:</strong>
        {% for genero in livro.genero.all %}
            {{ genero }}
            {% if not forloop.last %}
                ,
            {% endif %}
        {% endfor %}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Exemplares</h4>

        {% for copy in livro.exemplarlivro_set.all %}
            <hr>
            <p class="
                {% if copy.situacao == 'd' %}
                    text-success
                {% elif copy.situacao == 'm' %}
                    text-danger
                {% else %}text-warning{% endif %}">

                {{ copy.get_situacao_display }}</p>

            {% if copy.situacao != 'd' %}
                <p><strong>Deve ser devolvido em:</strong> {{copy.data_devolucao}}</p>
            {% endif %}

            <p><strong>Editora:</strong> {{copy.editora}}</p>
            <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
        {% endfor %}

    </div>
{% endblock %}
